
a{
    font-style : italic;
}
input, select, textarea{
    background-color: beige;
}
table{
    border:1px solid black;
}
#map{
    height : 450px;
}
#map2{
    height: 400px;
    width: 400px;
}
#inline{
    display: inline-block;
}
button{
    background-color: rgb(236, 93, 93);
}
.listbox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infowindowimg{
    width : 200px;
    height : 100px;
    object-fit: cover;
}
h1 {
    font-family : Verdana;
    background-color: rgb(236, 93, 93);
    padding-left : 100px;
}
tr:nth-child(even){
    background-color: rgb(236, 93, 93);
}
tr:nth-child(odd){
    background-color: beige;
}
tr:hover{
    background-color: lightgrey
}
.bigimg{
    width : 600px;
    height : 400px;
    object-fit: cover;
}
.thumbnail{
    visibility : hidden;
    width:40px;
}
.gridy {
    display : grid;
    grid-template-columns: auto auto;
}
#placeGrid {
    display : grid;
    grid-template-columns: auto;
}
.widget{
    background-color: beige;
    margin : auto;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: beige;
}
.container{
    display : flex;
    align-items : center;
    justify-content : center;
}
#container {
    width: 535px;
    background: #ffffff;
    padding: 20px;
    margin: 90px auto;
    border-radius: 5px;
    height: 150px;
    border: 2px solid gray;
}
#header {
    text-align: center;
    background-color: #FEFFED;
    border-radius: 5px;
    margin: -39px -20px 10px -20px;
}
h2{
    padding-top: 10px;
}
#content {
    margin-left: 57px;
    margin-top: 40px;
}
#register label{
    margin-right:5px;
}
#register input {
    padding: 5px 14px;
    border: 1px solid #d5d9da;
    box-shadow: 0 0 9px #0E34F5 inset;
    width: 272px;
    font-size: 1em;
    height: 25px;
}
#register .short{
    font-weight:bold;
    color:#FF0000;
    font-size:larger;
}
#register .weak{
    font-weight:bold;
    color:orange;
    font-size:larger;
}
#register .good{
    font-weight:bold;
    color:#2D98F3;
    font-size:larger;
}
#register .strong{
    font-weight:bold;
    color: limegreen;
    font-size:larger;
}